@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Yeseva+One&display=swap');

/* Couleurs utilisées */
:root{
    --primary : #1BD79E;
    --background : #041821;
    --text : #ffffff;
    --text-secondary : #808080;
}

/* Réinitialisation des marges et padding */
*{
    margin: 0;
    padding: 0;
}

/* Background et couleurs et fonts de base des textes */
body{
    background-color: var(--background);
    color: var(--text);
    font-family: 'Montserrat', sans-serif;
}

/* Padding global du main */
main{
    padding: 0 20px;
}

/* Définition police particulière */
header, h1{
    font-family: 'Yeseva One', cursive;
}


/* Header */
header{
    text-align: center;
    border-bottom: 2px solid rgba(255,255,255, 0.15);
    padding: 30px 0;
}
header p{
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
}
.socials i{
    margin: 0 5px;
}
span{
    color: var(--primary) ;
}


/* Main */
main h1{
    font-size: 2em;
    font-weight: lighter;
}
main p{
    color : var(--text-secondary);
}

/* Navigation */
ul{
    display: flex;
    margin: 20px 0;
    list-style-type: none;
    justify-content: space-between;
}
nav li{
    padding: 5px;
    font-size: 0.8em;
}
nav li:active{
    font-weight: 600;
    background-color: var(--primary);
}

/* Div images en grid */
#image_container{
    display: grid;
    grid-template-columns: 100px 100px 100px ;
    grid-template-rows: 100px 100px 100px ;
    justify-content: space-between;
    gap: 15px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}
/* Masquer les images pas visibles en mobile */
.tablet{
    display: none;
}

/* Footer */
footer{
    letter-spacing: 0.1em;
    padding: 30px 0;
    text-align: center;
}
footer p:nth-child(1){
    font-size: 0.75em;
    font-weight: 400;
    margin: 10px;
}
footer p:nth-child(2){
    font-size: 0.65em;
    font-weight: 300;
    margin: 10px;
}



@media screen and (max-width: 768px) {

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px ;

    }
    header p{
        margin: 0;
    }
}