@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Yeseva+One&display=swap');

/* Couleurs utilisées */
:root, html[data-theme="dark"]{
    --primary : #1BD79E;
    --background : #041821;
    --text : #ffffff;
    --text-secondary : #808080;
    --nav-active-text : #ffffff;
    --nav-active-background : rgba(27, 215, 158, 1)
}
:root, html[data-theme="light"]{
    --primary : #1BD79E;
    --background : #ffffff;
    --text : #000000;
    --text-secondary : #808080;
    --nav-active-text : #1BD79E;
    --nav-active-background : rgba(27, 215, 158, 0.3)
}

/* Réinitialisation des marges et padding */
*{
    margin: 0;
    padding: 0;
}

/* Background et couleurs et fonts de base des textes */
body{
    background-color: var(--background);
    transition: 1s;
    color: var(--text);
    font-family: 'Montserrat', sans-serif;
}

/* Padding global du main */
main{
    padding: 0 20px;
}

/* Définition police particulière */
header, h1{
    font-family: 'Yeseva One', cursive;
}

/* Header */
header{
    text-align: center;
    border-bottom: 1px solid var(--text-secondary);
    padding: 30px 0;
}
header p{
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
}
.socials i{
    margin: 0 5px;
    cursor: pointer;
}
span{
    color: var(--primary) ;
}


/* Main */
main h1{
    font-size: 2em;
    font-weight: lighter;
}
main p{
    color : var(--text-secondary);
}

/* Navigation */
ul{
    display: flex;
    margin: 20px 0;
    list-style-type: none;
    justify-content: space-between;
}
nav li{
    padding: 5px;
    font-size: 0.8em;
    cursor: pointer;
    color: var(--text);
    
}
nav li:active{
    font-weight: 600;
    color: var(--nav-active-text);
    background-color: var(--nav-active-background);
}

/* Div images en grid */
#image_container{
    display: grid;
    grid-template-columns: repeat(3, 100px) ;
    grid-template-rows: repeat(3, 100px) ;
    justify-content: space-between;
    gap: 15px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}
/* Masquer les images pas visibles en mobile */
.tablet{
    display: none;
}

/* Footer */
footer{
    letter-spacing: 0.1em;
    padding: 30px 0;
    text-align: center;
}
footer p:nth-child(1){
    font-size: 0.75em;
    font-weight: 400;
    margin: 10px;
}
footer p:nth-child(2){
    font-size: 0.65em;
    font-weight: 300;
    margin: 10px;
}


/* Tablet */
@media screen and (min-width: 768px) {

    /* Header */
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px ;

    }
    header p{
        margin: 0;
    }

    /* Main */
    main{
        padding: 100px 100px 0 100px;
    }
    main h1{
        font-size: 3em;
    }
    main p{
        line-height: 1.5em;
    }

    /* Nav */
    ul{
        justify-content: center;
        gap: 30px;
    }

    /* Div images et grid */
    #image_container{
        grid-template-columns: repeat(5, 100px) ;
        grid-template-rows: repeat(3, 100px) ;
    }
    .tablet{
        display: block;
    }
}

/* Desktop */
@media screen and (min-width: 992px) {

    /* Main */
    main{
        max-width: 1200px;
        margin: auto;
    }
    main h1, main p{
        width: 60%;
    }

    /* Nav */
    nav{
        margin: 40px 0;
    }
    
    /* Div images et grid */
    #image_container{
        grid-template-columns: repeat(4, 1fr) ;
        grid-template-rows: repeat(3, 350px) ;
        grid-template-areas:    'a a b c'
                                'd e f f'
                                'g g h i';
        justify-content: space-between;
    }
    
    /* Placement des images */
    #image_container figure:nth-child(1){
        grid-area: a;
    }
    #image_container figure:nth-child(2){
        grid-area: b;
    }
    #image_container figure:nth-child(3){
        grid-area: c;
    }
    #image_container figure:nth-child(4){
        grid-area: d;
    }
    #image_container figure:nth-child(5){
        grid-area: e;
    }
    #image_container figure:nth-child(6){
        grid-area: f;
    }
    #image_container figure:nth-child(7){
        grid-area: g;
    }
    #image_container figure:nth-child(8){
        grid-area: h;
    }
    #image_container figure:nth-child(9){
        grid-area: i;
    }

    /* Masquer les images pas visibles en desktop */
    .tablet{
        display: none;
    }

    /* Footer */
    footer{
        padding: 50px 0;
    }
}